---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
    <div class="pb-2">
        &copy; {today.getFullYear()} David Castillo
    </div>
    <div class="inline opacity-75">
        Developed by <a target="_blank" class="font-bold"></a> Angel David Castillo Castro
    </div>

</footer>
